# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
venv/
env/
.env
*.sqlite3
/backend/static/
/backend/media/
/backend/psi/local_settings.py

# PostgreSQL
*.dump
*.sql.gz

# React / Node
node_modules/
/frontend/build/
/frontend/.env
/frontend/.env.local

# Flutter
/mobile/.dart_tool/
/mobile/.flutter-plugins
/mobile/.flutter-plugins-dependencies
/mobile/build/
/mobile/android/.gradle/
/mobile/ios/Pods/
/mobile/ios/.symlinks/

# VS Code
.vscode/settings.json
.vscode/launch.json
*.code-workspace

# Système
.DS_Store
Thumbs.db
*.log
*.tmp
.idea/